<!doctype html>
<html ng-app>    

<head>
    <title>Premier essai avec Angular</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">       
    <link rel="stylesheet" href="css/style.css">       
</head>

<body>

<div ng-include src="'entete.html'"></div>

<div class="container">
    <h1>Identification génétique</h1>

    <div class="row">
        <div class="span6">
	<p>Code génétique de l'animal</p>
	<p class="todo">Il est nécessaire d'être enregistré en tant que labo pour arriver sur cette page. Les seules actions possibles sont le création ou la modification du code génétique associé au n° de serie de la puce trouvée</p>
		</div>        
	</div>        

    <p>
    <label for="intro1">N° de puce</label>
    <input type="text" class="intro" name="intro1" ng-model="numero_puce" />  
    <a href="#" class="btn">Recherche</a>
    </p>

    <label for="intro2">Code génétique</label>
    <input type="text" class="intro" name="intro2" ng-model="code_genetique" />  

    <a href="#" class="btn">Enregistrement</a>
	
</div>


   
</body>

</html>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->       
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!--  <link href="css/style.css" rel="stylesheet">  -->
	

	