.jumbotron
{
   background-image:linear-gradient(#9dc5ed, #278bf0);
   padding: 0.5em 0.6em;
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 1.2em;
        .btn
		{
            padding: 0.5em;
        }
    }
	img
	{
		padding-top: 50px;
	}

}

.navbar
{
   background-image:linear-gradient(#9dc5ed, #278bf0);
}

h3
{
   background-image:linear-gradient(#9dc5ed, #278bf0);
}
.todo
{
background-color:#ffff66;
font-style:italic;
}

.recherche
{
/*    padding-left:10px;*/
    width: 350px;
    height: 100px;
/*    border:solid;*/
}

/*
.recherche h3
{
   background-image:linear-gradient(#065AAE, #5CA4AE);

}

.info_animal h3
{
   background-image:linear-gradient(#ccccff, #0000ff);
}

.info_owner h3
{
   background-image:linear-gradient(#ccccff, #0000ff);
}
*/

.animal_intro_change
{
    background-color:#fcfcfc;
    border:  border-box;
}
.animal_intro_read_only
{
    background-color:none;
    border:none;
}

.owner_intro_change
{
    background-color:#fcfcfc;
    border:  border-box;
}
.owner_intro_read_only
{
    background-color:none;
    border:none;
}


.col-md-3
{
/*background-color:#ff0000;*/
}

.picture
{
/*    background-color:#ccffcc;*/
    margin-left: -15px;
/*    padding-left: -15px;*/
}

.col-md-2
{
/*background-color:#00ff00;*/
}
.col-md-7
{
/*background-color:#9dc5ed;*/
}
