.jumbotron
{
   padding: 0.5em 0.6em;
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 1.2em;
        .btn
		{
            padding: 0.5em;
        }
    }
	img
	{
		padding-top: 50px;
	}

/*
    background-image:linear-gradient(white, #00ff00);
*/
}

.navbar
{
/*
    background-image:linear-gradient(white, #00ff00);
*/
}

.todo
{
background-color:#ffff66;
font-style:italic;
}