<!doctype html>
<html ng-app>    

<head>
    <title>Premier essai avec Angular</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">       
    <link rel="stylesheet" href="css/style.css">       
</head>

<body>

<div class="container">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Véthica</a>
<!--            <a href="http://vethica.com" class="navbar-brand">Véthica</a> -->
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Accueil</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </nav>
</div>    


<div class="container"> 
        <div class="row"> 
                <img src="img/theme_image_1.jpg"></img>
            
        </div>
</div>

<div ng-controller="animal_ctrl">

<div class="container">
    <div class="recherche">
        <h3>Recherche</h3>
            <form>
            <label for="intro1">N° de puce</label>
            <input type="text" class="intro" name="intro1" ng-change="change_puce()" ng-model="numero_puce" />  
            <button class="btn btn-link"  ng-click="animal_search()">Recherche</button>
            </form>
    </div>

<!--
<div class="container">
<div class="row">
    <div class="col_boot">
            <div class="col-md-3">
                aa
            </div>
            <div class="col-md-2">
                bb
            </div>
            <div class="col-md-7">
                cc
            </div>

            <div class="col-md-3">
                lig 2 aa
            </div>
            <div class="col-md-2">
                lig 2 bb
            </div>
            <div class="col-md-7">
                lig 2 cc
            </div>
    </div>
</div>
</div>
-->

<div class="container">
<div class="row">
    <div class="info_animal" ng-show="show_all">
        <h3>Animal</h3>

            <div class="col-md-3">
                <div class="picture"> 
                <img src="img/{{animal_picture}}"></img>
                </div> 
            </div>
    
            <div class="col-md-2">
                Race                
            </div>
            <div class="col-md-5">
            <input type="text" class="{{animal_class_intro}}" ng-readonly="animal_mode()" ng-model="animal_race" />  
            </div>

            <div class="col-md-1">
            <button type="button" class="btn btn-link"  ng-click="animal_modif()">{{animal_modif_button_txt}}</button>
            </div>

            <div class="col-md-2">
                Date de naissance               
            </div>
            <div class="col-md-6">
            <input type="date" class="{{animal_class_intro}}" ng-readonly="animal_mode()" ng-model="animal_birthday" />  
            </div>

            <div class="col-md-2">
                Couleur dominante               
            </div>
            <div class="col-md-6">
            <input type="text" class="{{animal_class_intro}}" ng-readonly="animal_mode()" ng-model="animal_color" />  
            </div>

     </div> 
</div>
</div>
   
              
<div class="container">
<div class="row">
    <div class="info_owner" ng-show="show_all">
    <h3>Propriètaire</h3>

            <div class="col-md-3">
                <div class="picture"> 
                    <img src="img/{{owner_picture}}"></img>
                </div> 
            </div>

            <div class="col-md-2">
                Nom                
            </div>
            
            <div class="col-md-5">
            <input type="text" class="{{owner_class_intro}}" ng-readonly="owner_mode()" ng-model="owner_name" />  
            </div>

            <div class="col-md-1">
            <button type="button" class="btn btn-link"  ng-click="owner_modif()">{{owner_modif_button_txt}}</button>
            </div>
            
            <div class="col-md-2">
                Tel                
            </div>
            <div class="col-md-6">
            <input type="text" class="{{owner_class_intro}}" ng-readonly="owner_mode()" ng-model="owner_tel" />  
            </div>



    </div>
</div>
</div>


<div class="container" ng-controller="vet_action_ctrl">
<div class="row">
    <div class="info_owner" ng-show="show_all">
    <h3>Vétérinaire</h3>

    <br>{{montest}}<br>
    
            <div class="col-md-3">
                <div class="picture"> 
                    <img src="img/{{owner_picture}}" width=100%></img>
                </div> 
            </div>

        <li ng-repeat="vet_action in vet_actions">
            <div class="col-md-2">
                {{vet_action.lib_action}}
            </div>
            
            <div class="col-md-5">
                {{vet_action.date_action}}
            </div>        
        </li>   
    
    <form class="form-horinzontal">
        <input type="text" ng-model="vet_action_form" ng-model-instant>
    <button class="btn btn-link"  ng-click="vet_action_add()">Ajout action</button> 

    </form>    
    </div>
    
    
</div>
</div>    


   
</body>

</html>
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->       
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--  <link href="css/style.css" rel="stylesheet">  -->
<script src="js/vethica.js"></script>
	

	